<link rel="stylesheet" type="text/css" href="../components/dropzone/dist/min/dropzone.min.css" />

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Drop File Zone</span></li>
		</ol>
		
		<h1>Drop File Zone</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix" style="min-height: 820px;">
			<header class="main-box-header clearfix">
				<h2>Drag &amp; Drop file upload</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div id="dropzone" class="dropzone-wrapper">
					<form action="#" class="dropzone needsclick" id="demo-upload">
						<div class="dz-message needsclick">
							Drop files here or click to upload.<br />
							<span class="note needsclick">
								(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="../components/dropzone/dist/min/dropzone.min.js"></script>

<script>
	Dropzone.options.demoUpload = {
		paramName: "file", // The name that will be used to transfer the file
		maxFilesize: 1, // MB
		accept: function(file, done) {
			if (file.name == "justinbieber.jpg") {
				done("Naha, you don't.");
			}
			else { 
				done(); 
			}
		}
	};
</script>